absl-py
aiofiles
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
backoff
beautifulsoup4
bleach
blinker
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
comtypes
Contentstack
contourpy
cryptography
cycler
debugpy
decorator
deepface
defusedxml
executing
facenet-pytorch
fastapi
fastjsonschema
fer
ffmpeg
ffmpy
filelock
fire
firebase-admin
Flask
Flask-Cors
flatbuffers
fonttools
fqdn
fsspec
gast
gdown
geographiclib
geopy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-cloud-vision
google-crc32c
google-generativeai
google-pasta
google-resumable-media
google_search_results
googleapis-common-protos
googletrans
gradio
gradio_client
grpcio
grpcio-status
gunicorn
h11
h2
h5py
hpack
hstspreload
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
imageio
imageio-ffmpeg
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
kornia
kornia_rs
libclang
Markdown
markdown-it-py
markdown2
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
moviepy
mpmath
msgpack
mtcnn
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy
oauthlib
olamaps
opencage
opencv-contrib-python
opencv-python
opt-einsum
optree
orjson
overrides
packaging
panda
pandas
pandocfilters
parso
pillow
platformdirs
proglog
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
pure-eval
py-olamaps
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydub
pygame
Pygments
PyJWT
pyparsing
pypiwin32==219
PySocks
python-dateutil
python-dotenv
python-json-logger
python-multipart
PythonTurtle
pyttsx3
pytz
pywinpty
PyYAML
pyzmq
QtPy
referencing
regex
requests
requests-oauthlib
retina-face
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
seaborn
semantic-version
Send2Trash
setuptools
shellingham
simplejson
six
smmap
sniffio
sounddevice
soupsieve
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-intel
termcolor
terminado
tf_keras
threadpoolctl
tinycss2
tokenizers
toml
tomlkit
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
txt2tags
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
validators
vit-keras
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt



